body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: black;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
.slider {
	width: 35% !important;
	height: auto !important;
	margin:auto !important;
}
.awssld {
	--slider-height-percentage: 60% !important;
	--slider-transition-duration: 225ms !important;
	--organic-arrow-thickness: 10px !important;
	--organic-arrow-border-radius: 0px !important;
	--organic-arrow-height: 50px !important;
	--organic-arrow-color: #ffffff !important;
	--control-button-width: 10% !important;
	--control-button-height: 25% !important;
	--control-button-background: transparent !important;
	--loader-bar-color: transparent !important;
	--loader-bar-height: 1px !important;
}
#footer {
	text-align: center;
}

#alert {
	height: 39px;
	background-color: #81807F;
	font-size: 14.9;
	font-family: "Montserrat", sans-serif;
	padding-left: 30px;
}

#devpost {
	width: 250px;
	background-color: blueviolet;
}

#contactUs {
	width: 250px;
	background-color: blueviolet;
}

#arrow {
	margin-right: -10px;
	margin-left: 27px;
}

#blurbSponsors {
	color: white;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 25px;
	padding-top: 22%;
}

#email {
	color: rgb(147, 147, 230)
}

#downloadProspectus {
	color: rgb(147, 147, 230)
}

#prospectusImage {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 20px;

}